name: Update Google Slides Menu

on:
  # Manual trigger
  workflow_dispatch:

  # Automatically run on the 1st day of every month at 07:00 UTC
  schedule:
    - cron: '0 7 1 * *'

jobs:
  update_slide:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repo
      - name: Checkout repo
        uses: actions/checkout@v3

      # Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      

      # Run Python script
      - name: Run menu updater
        run: python dinnermenu.py
